@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
}

/* Navbar */

.navbar-brand {
    margin-left: 50px;
}

.navbar-nav .nav-item {
    margin-left: 40px;
}

button .sign-up {
    margin-right: 112px;
}

.btn-signup {
    background: #7F56D9;
}

/* Header */

.content {
    margin: auto;
    width: 800px;
}

.section {
    transform: rotate(-2deg);
    margin: auto;
    width: 800px;
}

.header {
    background-color: #F9F5FF;
    padding: 45px;
}

.bg-header {
    background-color: #F9F5FF;
    padding: 45px;
    width: 100%;
    height: 31vh;
    z-index: 0;
    position: absolute;
    clip-path: polygon(0 0, 95% 0, 100% 35%, 0 100%);
}

.section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}

.right-band-1 {
    position: absolute;
    right: 0px;
    bottom: 85px;
    /* z-index: 10; */
}

.right-band-2 {
    position: absolute;
    right: 0px;
    bottom: 1px;
    /* z-index: 1; */
}

.right-band-3 {
    position: absolute;
    right: 0px;
    bottom: 50px;
}

.card-content {
    z-index: 999999;
}

.left-band-1 {
    position: absolute;
    left: 0px;
    top: 625px;
    bottom: 0;
}

.left-band-2 {
    position: absolute;
    left: 0px;
    top: 719px;
    bottom: 0;
    transform: rotate(1deg);
}

.form-outline i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


/* content */

.pagination li a {
    list-style: none;
    color: black;
}

.content-card {
    padding-left: 50px;
    padding-right: 50px;
}

/* footer */
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
}



#footer .footer-top .footer-links ul a {
    color: #667085;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.footer-links h4 {
    color: #98A2B3;
    font-size: 14px;
}

.footer-links .badge {
    background-color: #ECFDF3;
    color: #027A48;
    font-weight: 500;
    width: 42px;
    height: 22px;
    border-radius: 16px;
    font-family: "Inter", sans-serif;
}